/*.cl{

	height: 230px;
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(halll.jpg);
	background-size: cover;
	background-position: center;
}
.bgg{
	background-image: linear-gradient(cyan,#b871b8,#b871b8,darkcyan);
}
#phot{
	background-image: url(login1.jpg);
	background-size: cover;
	background-position: center;
}*/